$def with(title, indi_id, individual, artist, song, max_gen, current_gen, user_settings)
$var title:$title

<div id="content">
    <!-- <div class="container-fluid"> -->
    <div class="well span10 offset2">
        <div class="pagination-centered page-header">
            <h1>$artist <small>$song</small></h1>
            <form method="POST" id="ns" action="/fitness/$indi_id">
                <div class="span2">
                    <a id="previous-song" href="$indi_id">Previous Song</a>
                </div>
                <div class="span2 offset5">
                    <a id="next-song">Next Song</a>
                </div>
            </form>
        </div>
    </div>

    <div  class="well span10 offset2">
        <div class="well span3">
            <legend><h2>Stats</h2></legend>
            <h4>Current Individual: <small>$indi_id</small></h4>
            <h4>Current Generation: <small>$current_gen/$max_gen</small></h4>
            <h4 id='current_score'>Current Score: <small>0/100</small></h4>
        </div>
        <div class="nav nav-pills span4">
            <li>
            <a id="listen" href="$indi_id">Listen</a></li>
            <li><a id="save-order" href="$indi_id">Save Order</a></li>
        </div>

        <div id="sortable-trait" class="span6">
            $for note in individual:
                <div id="$note[0]" class="$note[1]" style="border:2px solid black;">$note[0]</div>
        </div>

    </div>

    <div id="container" class="well span10 offset2"></div>

</div>

<!-- DONT DELETE BELOW!!! -->
<div id="current-gen" class="$current_gen"></div>

$for note in individual:
    <div id="orig_notes">
        <div id="$note[0]" class="$note[1]"></div>
    </div>