$def with (title, individuals)
$var title:$title

<h1>End of the line!</h1>

<table id="indi-tbl" class="table table-bordered">
    <thead>
        <tr>
            <th>Generation</th>
            <th>Notes</th>
            <th>Listen</th>
        </tr>
    </thead>
    $for generation, notes in individuals.items():
    <tbody id="terminate-body">
        <td id="generation">$generation</td>
        <td id="terminate_notes" class="$generation">
            $for note in notes:
                <div id="$note" class="$generation">$note</div>
        </td>
        <td>
            <a class="terminate-listen" id="$generation" href="#">Listen
                $for note in notes:
                <div id="$generation" class="hidden-notes">
                    <div id="$note"></div>
                </div>
            </a>
        </td>
    </tbody>
</table>