{% extends "gor0x/layout.html" %}
{% block body %}

    <form action='/' method='POST'>
      <div class="span12">
        <legend><< gor0x >><small>Initialization Settings</small></legend>
        <div class="well span3">
          <legend>Initial Population Generation</legend>
            <label>Influencer</label>
            <select name='artist_song_pairs'>
            {% for artist, song in artist_pairs %}
                <option>{{artist}} - {{song}}</option>
            {% endfor %}
            </select>
        </div>

        <div class="well span3">
          <legend >GA Settings</legend>
            <label>Population Size</label>
            <input type="number" name="psize" id="psize" min="1" max="50" required/>

            <label for="">Individual Size</label>
            <input type="number" name="isize" id="isize" min="5" max="50" required/>

            <label for="">Total Generations</label>
            <input type="number" name="tgen" id="tgen" min="1" max="50" required/>
        </div>

        <div class="well span3" >
          <legend >Markov Chain Settings</legend>
            <label for="">Markov Chain Size</label>
            <input type="number" name="mc_size" id="mc_size" min="20" max="5000" required/>

            <label for="">Markov Chain Nodes</label>
            <input type="number" name="mc_nodes" id="mc_nodes" min="1" max="15" required/>
        </div>

        <div class="actions span5">
          <input type="submit" id="next" value="Submit">
        </div>
      </div>
    </form>

{% endblock %}
